*

!.gitignore
!README.md
!LICENSE
!Cargo.toml
!Cargo.lock
!justfile
!INSTALL.sh
!cliff.toml
!rust-toolchain.toml

!.github/
!.github/workflows/
!.github/workflows/ci.yml
!.github/workflows/release.yml

!src/
!src/*.rs
!src/adapter/
!src/adapter/mod.rs
!src/adapter/catalog.rs
!src/adapter/catalogs/
!src/adapter/catalogs/mod.rs
!src/adapter/catalogs/illumina.rs
!src/adapter/catalogs/mgi.rs
!src/adapter/catalogs/ont.rs
!src/adapter/catalogs/pacbio.rs
!src/adapter/catalogs/qiaseq.rs

!tests/
!tests/*.rs
