*

!.gitignore
!README.md
!LICENSE
!Cargo.toml
!Cargo.lock
!justfile
!INSTALL.sh
!cliff.toml
!rust-toolchain.toml

!.github/
!.github/workflows/
!.github/workflows/ci.yml
!.github/workflows/release.yml

!src/
!src/*.rs

!tests/
!tests/*.rs
